* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.Top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem 15%;
}

.left_top {
    width: 40%;
}

.left_top a {
    font-weight: 900;
    color: rgb(22, 22, 22);
}

.left_top a:hover {
    color: rgb(24, 24, 170);

}

.right_top {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.phone i {
    rotate: 270deg;
    margin-right: 7px;
    color: rgb(90, 90, 90);
}

.phone a {
    color: rgb(65, 65, 65);
    font-weight: 900;
}

.location i {
    margin-right: 7px;
    color: rgb(90, 90, 90);
}

.bottom {
    padding: 1rem 15%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;

}

.logo img {
    width: 100%;
}

.bottom nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom nav div {
    width: calc(100%/6);
    text-align: center;
}

.section1 {
    background-image: url(/Items/home-services-hero-bg.webp);
    width: 100%;
    height: 80vh;
    text-align: center;
    color: aliceblue;
    background-size: cover;
}

.section1 h1 {
    padding: 15rem 0 1rem;
    font-size: 50px;
}

.section1 h3 {
    padding-bottom: 2rem;
    font-size: 120px;
}

.section1 select {
    border-color: #086ad8;
    background-color: #086ad8;
    color: #fff;
    font-weight: 500;
    padding: 3px 30px;
    height: 60px;
    width: 30vw;
    border-radius: 5px;
}

.section1 select {
    font-size: 15px;
    outline-color: #086ad8;
    outline: #086ad8;
}

.section1 h6 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}